{% extends "base.html" %}

{% block title %}
    О проекте
{% endblock %}

{% block content %}
    <h1>Какое-то описание там ну</h1>
    <h2>вы знаете как обычно это бывает на сайтах</h2>
    <h3>ну короче вот</h3>
    <div>
        Было трудно, но интересно! <br>
        <b>Мне до сих пор не ответил препод</b> по поводу того как можно структурировать проект с модулями, чтобы я мог легко запускать подмодульные файлы<br>
        Может, быть вы мне ответите? было бы здорово...
    </div>
    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, quae? Blanditiis itaque, delectus harum eius, esse cupiditate molestias quis qui iure at optio odit recusandae nam mollitia ad! Rem, autem.</div>
    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, quae? Blanditiis itaque, delectus harum eius, esse cupiditate molestias quis qui iure at optio odit recusandae nam mollitia ad! Rem, autem.</div>
    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, quae? Blanditiis itaque, delectus harum eius, esse cupiditate molestias quis qui iure at optio odit recusandae nam mollitia ad! Rem, autem.</div>
    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, quae? Blanditiis itaque, delectus harum eius, esse cupiditate molestias quis qui iure at optio odit recusandae nam mollitia ad! Rem, autem.</div>
    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, quae? Blanditiis itaque, delectus harum eius, esse cupiditate molestias quis qui iure at optio odit recusandae nam mollitia ad! Rem, autem.</div>

{% endblock %}