{% extends "base.html" %}

{% block title %}
    API проекта
{% endblock %}

{% block content %}
    <h1>Какая-то информация об API</h1>
    <div>
        Вообще планировалось сюда скопировать всё описание об API, но я понял что мне лень это всё копировать с /docs так что: <br>
        <a href="/docs">Ссылочка на docs</a>
    </div>
    <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi voluptate nihil odio error eum? Deserunt amet dolor animi iusto voluptatum cum corporis, voluptas a nesciunt eligendi, deleniti, et consectetur id!
    </div>
{% endblock %}