{% extends "base.html" %}

{% block title %}
    Супергерои
{% endblock %}

{% block content %}

    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex align-items-stretch">
        {% for character in characters %}
        <div class="col">
            <div class="card h-100 d-flex flex-column">
                <img src="{{ character.img_url }}" class="card-img-top img-fluid" alt="Картинка персонажа {{ character.name }}" style="min-height: 250px; max-height: 250px; object-fit: contain;">
                <div class="card-body d-flex flex-column flex-grow-1">
                    <h5 class="card-title">{{ character.name }}</h5>
                    <p><b>Полное имя: </b>{{ character.fullname }}</p>
                    <p><b>Сторона света: </b>{{ character.side.value }}</p>
                    <p class="text-muted small flex-grow-1">{{ character.desc }}</p>
                    <p class="mt-auto flex-grow-1"><b>Суперспособности:</b><br>
                        <b class="text-primary small">{{ ", ".join(character.powers) }}</b>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}

